body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    background-image: url(/blue.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
  width: 300px;
  height: 350px;
  border-radius: 10px;
  margin-top: 150px;  
 background-color: rgb(255, 255, 255);
 display: block;
 box-shadow: 3px 5px 15px black;
 transition: 2s;
 
}

.content:hover {
    transform: scale(1.1);
    transition: 2s;
    box-shadow: 10px 15px 40px black;
}

.card {
    width: 300px;
    height: 130px;
    border-radius: 5px;
}


h1 {
    font-size: 20px;
    margin-left: 85px;
}

.par {
    color: gray;
    font-size: 16px;
    margin-left: 120px;
    margin-top: -10px;
}


.per {
    max-width: 0px;
    margin-top: 50px;
    margin-left: 30px;
    display: flex;
    text-align: center;
    font-size: 20px;
}

.pir {
    margin-left: 120px;
    margin-top: -65px;
    font-size: 20px;
}

.por {
    margin-top: -41px;
    margin-left: 210px;
}



.pag {
    color: gray;
    font-size: 13px;
    margin-top: 30px;
    position: relative;
    right: 39px;
}

.peg {
    font-size: 12.8px;
    position: relative;
    top: 25px;
    right: 40px;
}

.pig {
    position: relative;
    top: 26px;
    right: 39px;
}

span {
    color: gray;
}

.box img {
    margin-top: -50px;
    margin-left: 110px;
    border-radius: 50%;
    width: 90px;
 }
